<div class="card-container" (document:keydown)="handleKeyPress($event)">
    <div
      *ngFor="let profile of profiles; let i = index"
      class="card"
      cdkDrag
      [cdkDragBoundary]="'#cardBoundary'"
      [style.zIndex]="profiles.length - i"
      [class.active]="i === 0"
      [class.behind]="i > 0"
      [class.swipe-left]="profile.action === 'DISLIKE'" 
      [class.swipe-right]="profile.action === 'LIKE'"
      [class.swipe-down]="profile.action === 'SAVE'"
      (cdkDragEnded)="onSwipe($event, profile)"
      (click)="toggleDetails(profile)"
    >
      <!-- Image Background -->
      <div class="card-image" [style.backgroundImage]="'url(' + profile.photo + ')'"></div>
  
      <!-- Overlay Information -->
      <div class="card-overlay" [ngClass]="{'showDetails': profile.showDetails}">
        <h2>{{ profile.first_name }} {{ profile.last_name }}, {{ profile.age }}</h2>
        <p *ngIf="profile.gender=='M'"><strong>Annual Income:</strong> ₹{{ profile.annual_income }} LPA</p>
        <p>{{ profile.education_details }}</p>
        <div
            class="card-details"
            *ngIf="profile.showDetails"
            (mousedown)="stopPropagation($event)">
        <p><strong>Hobbies:</strong> {{ profile.hobbies }}</p>
        <p><strong>Occupation:</strong> {{ profile.occupation }}</p>
        <p><strong>Annual Income:</strong> ₹{{ profile.annual_income }} LPA</p>
        <p><strong>City:</strong> {{ profile.per_city }}</p>
      </div>
      </div>
    </div>

    
    <div id="cardBoundary" class="boundary"></div>
  </div>
  
  <!-- Action Buttons -->
  <div class="action-buttons">
    <button
      class="btn dislike"
      (mousedown)="stopPropagation($event)"
      (click)="swipe('DISLIKE')"
    >
      👎
    </button>
    <button
      class="btn save"
      (mousedown)="stopPropagation($event)"
      (click)="saveProfile()"
    >
    🤔
    </button>
    <button
      class="btn like"
      (mousedown)="stopPropagation($event)"
      (click)="swipe('LIKE')"
    >
      👍
    </button>
  </div>



<!-- Background Emoji Animation -->
<div *ngIf="showEmoji" class="emoji-background">
    🤔 <br> Saved
  </div>