<div class="profiles-container" (document:keydown)="handleKeyPress($event)">
    @for(profile of profiles;track profile;let i = $index) {
    <div
        class="card-container"
        cdkDrag
        [cdkDragBoundary]="'#cardBoundary'"
        [style.zIndex]="profiles.length - i"
        [class.active]="i === 0"
        [class.behind]="i > 0"
        [class.swipe-left]="profile.action === 'DISLIKE'"
        [class.swipe-right]="profile.action === 'LIKE'"
        [class.swipe-down]="profile.action === 'SAVE'"
        (cdkDragEnded)="onSwipe($event, profile)"
    >
        <app-profile-card [profile]="profile">
            <ion-fab
                profile-action
                slot="fixed"
                vertical="top"
                horizontal="end"
                [edge]="true"
                (click)="saveProfile()"
            >
                <ion-fab-button>
                    <ion-icon name="bookmark-outline"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </app-profile-card>
    </div>
    }

    <div id="cardBoundary" class="boundary"></div>
</div>

<!-- Background Emoji Animation -->
@if(showEmoji) {
<div class="emoji-background">
    <ion-icon name="bookmark-outline"></ion-icon>
    <br />
    Saved
</div>
}
