<ion-content>
  <ion-list>
    @for (profile of items; track profile; let  i = $index) {    
      <ion-item lines="none">
        <div class="cards-container">
          <div class="card" (click)="toggleDetails(profile[0])">
            <!-- Image Background -->
            <div class="card-image" [style.backgroundImage]="'url(' + profile[0].photo + ')'"></div>
            <!-- Overlay Information -->
            <div class="card-overlay" [ngClass]="{'showDetails': profile[0].showDetails}">
              <h2>{{ profile[0].first_name }} {{ profile[0].last_name }}, {{ profile[0].age }}</h2>
              <p *ngIf="profile[0].gender=='M'"><strong>Annual Income:</strong> ₹{{ profile[0].annual_income }} LPA</p>
              <p>{{ profile[0].education_details }}</p>
              <div class="card-details" *ngIf="profile[0].showDetails">
                <p><strong>Hobbies:</strong> {{ profile[0].hobbies }}</p>
                <p><strong>Occupation:</strong> {{ profile[0].occupation }}</p>
                <p><strong>Annual Income:</strong> ₹{{ profile[0].annual_income }} LPA</p>
                <p><strong>City:</strong> {{ profile[0].per_city }}</p>
              </div>
            </div>
          </div>
          <div class="card" *ngIf="profile[1]" (click)="toggleDetails(profile[1])">
            <!-- Image Background -->
            <div class="card-image" [style.backgroundImage]="'url(' + profile[1].photo + ')'"></div>
            <!-- Overlay Information -->
            <div class="card-overlay" [ngClass]="{'showDetails': profile[1].showDetails}">
              <h2>{{ profile[1].first_name }} {{ profile[1].last_name }}, {{ profile[1].age }}</h2>
              <p *ngIf="profile[1].gender=='M'"><strong>Annual Income:</strong> ₹{{ profile[1].annual_income }} LPA</p>
              <p>{{ profile[1].education_details }}</p>
              <div class="card-details" *ngIf="profile[1].showDetails">
                <p><strong>Hobbies:</strong> {{ profile[1].hobbies }}</p>
                <p><strong>Occupation:</strong> {{ profile[1].occupation }}</p>
                <p><strong>Annual Income:</strong> ₹{{ profile[1].annual_income }} LPA</p>
                <p><strong>City:</strong> {{ profile[1].per_city }}</p>
              </div>
            </div>
          </div>
        </div>
  
      </ion-item>
    }
    
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <div class="infinite-scroll-content">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
        <circle fill="none" stroke="#1b6dff" stroke-width="4" stroke-miterlimit="10" cx="50" cy="50" r="48" />
        <line fill="none" stroke-linecap="round" stroke="#1b6dff" stroke-width="4" stroke-miterlimit="10" x1="50"
          y1="50" x2="85" y2="50.5">
          <animateTransform attributeName="transform" dur="2s" type="rotate" from="0 50 50" to="360 50 50"
            repeatCount="indefinite" />
        </line>
        <line fill="none" stroke-linecap="round" stroke="#1b6dff" stroke-width="4" stroke-miterlimit="10" x1="50"
          y1="50" x2="49.5" y2="74">
          <animateTransform attributeName="transform" dur="15s" type="rotate" from="0 50 50" to="360 50 50"
            repeatCount="indefinite" />
        </line>
      </svg>
    </div>
  </ion-infinite-scroll>
</ion-content>