<ion-header>
    <ion-toolbar>
        <ion-item slot="start">
            <ion-select
                aria-label="Show"
                interface="popover"
                placeholder="Show"
                (ionChange)="onActionHistoryFilter($event)"
                [value]="selectedHistoryFilter"
            >
                <ion-select-option value="LIKE"> Liked </ion-select-option>
                <ion-select-option value="DISLIKE">Disliked</ion-select-option>
                <ion-select-option value="SAVE">Saved</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-buttons slot="primary">
            <ion-button
                (click)="openLink('https://analytics.komti-perfect-match.com')"
            >
                <ion-icon slot="icon-only" name="bar-chart-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-grid>
            <ion-row>
                @for (profile of profiles; track profile; let i = $index) {
                <ion-col
                    size-xs="6"
                    size-sm="6"
                    size-md="4"
                    size-lg="3"
                    size-xl="3"
                >
                    <ion-item class="profile-item" lines="none">
                        <app-profile-card [profile]="profile">
                            <app-profile-actions
                                actions
                                [profile]="profile"
                                [selectedProfileFilter]="selectedHistoryFilter"
                                (afterAction)="onRemoveProfile($event, i)"
                            ></app-profile-actions>
                        </app-profile-card>
                    </ion-item>
                </ion-col>
                }
            </ion-row>
        </ion-grid>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" mode="ios">
        <ion-infinite-scroll-content> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
