#Anubandh Credentials
ANUBANDH_USER_ID={{ANUBANDH_USER_ID}}
ANUBANDH_USER_PASSWORD={{ANUBANDH_USER_PASSWORD}}

# MySQL Config
DB_HOST={{DB_HOST}}
DB_USER={{DB_USER}}
DB_PASSWORD={{DB_PASSWORD}}
DB_NAME={{DB_NAME}}

# Loop through user IDs
START_ID={{START_ID}} #1 
END_ID={{END_ID}} #40000
INCREMENT_STEP=1
