<ion-header>
    <ion-toolbar>
        <ion-title>My Profile</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="logout()">
                <ion-icon lot="icon-only" name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="page-content">
    @if(profile$ | async; as profile) {
    <app-profile-card [profile]="profile"></app-profile-card>
    } @else {
    <div>Loading...</div>
    }
</ion-content>
