<ion-header>
  <ion-toolbar>
      <ion-title>My Profile</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="logout()">
            <ion-icon
                lot="icon-only"
                name="log-out-outline"
            ></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="page-content">
  @if(profile$ | async; as profile) {
    <div class="card-container">
        <div class="card" (click)="toggleDetails(profile)">
            <!-- Image Background -->
            <div
                class="card-image"
                [style.backgroundImage]="'url(' + profile?.photo + ')'"
            ></div>
    
            <!-- Overlay Information -->
            <div
                class="card-overlay"
                [ngClass]="{ showDetails: profile.showDetails }"
            >
                <h2>
                    {{ profile.first_name }} {{ profile.last_name }},
                    {{ profile.age }}
                </h2>
                <p *ngIf="profile.gender == 'M'">
                    <strong>Annual Income:</strong>
                    {{ profile.annual_income_value }}
                </p>
                <p>{{ profile.education_details }}</p>
                <div class="card-details" *ngIf="profile.showDetails">
                    <p><strong>Hobbies:</strong> {{ profile.hobbies }}</p>
                    <p><strong>Occupation:</strong> {{ profile.occupation }}</p>
                    <p>
                        <strong>Annual Income:</strong>
                        {{ profile.annual_income_value }}
                    </p>
                    <p><strong>City:</strong> {{ profile.per_city }}</p>
                    <p><strong>DOB:</strong> {{ profile.dob }}</p>
                    <p>
                        <strong>Anubandh ID: </strong
                        ><a
                            href="https://www.anubandh.com/marriage_bureau/profile_table.jsp?user_id={{
                                profile.user_id
                            }}"
                            target="_blank"
                            >{{ profile.user_id }}</a
                        >
                    </p>
                </div>
            </div>
        </div>
    </div>
    } @else {
    <div class="unauthorized-content">
        <div class="unauthorized-container">
            <div class="unauthorized-header">
                <h1>Welcome to Komti Perfect Match</h1>
            </div>
    
            <p class="info-text">
                To access your profile and retain current session, please log in to
                your account.
            </p>
    
            <ion-button
                expand="block"
                shape="round"
                class="login-btn"
                (click)="redirectToLoginPage()"
            >
                Go to Login
            </ion-button>
        </div>
    </div>
    
    }
</ion-content>

