:host {
    width: 100%;
    height: 100%;
}
.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "Arial", sans-serif;
}

.login-container {
    margin: 100px auto;
    width: 90%;
    max-width: 400px;
    background: white;
    border-radius: 15px;
    padding: 30px 20px;
    text-align: center;
}

.login-header {
    margin-bottom: 30px;
}

.login-header h1 {
    font-size: 28px;
    color: #ff6f91;
    margin-bottom: 10px;
}

.login-header .subtitle {
    font-size: 14px;
    color: #888;
}

.input-field {
    margin-bottom: 20px;
}

.login-btn {
    --background: #ff6f91;
    --color: white;
    --border-radius: 5px;
    --transition: 0.3s ease;
}

.form-footer {
    margin-top: 20px;
    font-size: 14px;
}

.form-footer a {
    color: #ff6f91;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.form-footer a:hover {
    color: #ff577b;
}

.divider {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 24px 0 0;
    align-items: center;
    justify-content: center;
    vertical-align: baseline;
    span {
        text-align: center;
        flex: .2 0 auto;
        margin: 0;
        height: 12px;
    }
}

.divider:before, .divider:after {
    content: "";
    border-bottom: 1px solid #c2c8d0;
    flex: 1 0 auto;
    height: .5em;
    margin: 0;
}